*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Amiri', serif;
    font-family: 'Federant', cursive;
    font-family: 'Syne Mono', monospace;
    padding: 90px 20px 0;
}
.header{
    background-color: rgb(223, 116, 116);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0px 40px;
    line-height: 80px;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 20px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}